<ion-header>
  <ion-toolbar>
    <ion-title>
      QR Code Scanner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container" [class.hidden]="scannerModelOpen">
    @if (scannedResult) {
      <ion-label>
        <span>Result: </span>
        <h3>
          {{ scannedResult}}
        </h3>
      </ion-label>
    }

    <ion-button (click)="openScanner()">
      <ion-label>
        Open Scanner
      </ion-label>
      <ion-icon slot="end" name="scan"></ion-icon>
    </ion-button>
  </div>
</ion-content>
